# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# macOS Stuff
*.DS_Store
.DS_Store

# Diamond Emacs stuff
var/
var/*
elpa/
elpa/*
etc/packages.el
eshell/
eshell/*
transient/
transient/*
projectile-bookmarks.*
recentf
url/
url/*
history
bookmarks
auto-save-list/
auto-save-list/*
.last_package-update-day
places
tramp
tramp-connection-history
straight/
straight/*
eln-cache/
eln-cache/*
eww-bookmarks
.emacs.desktop
.emacs.desktop.lock
/.last-package-update-day
/amx-items
*.last
/session.*
/smex-items
/.mc-lists.el
/forge-database.sqlite
/newsticker/
/projects
