# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# macOS Stuff
*.DS_Store
.DS_Store

# Diamond Emacs stuff
var/
var/*
elpa/
elpa/*
etc/packages.el
eshell/
eshell/*
transient/
transient/*
projectile-bookmarks.*
recentf
url/
url/*
history
bookmarks
auto-save-list/
auto-save-list/*
.last_package-update-day
places
tramp