/.bookmarks.el
/custom.el
/.mc-lists.el
/auto-save-list/
/dired-history
/eln-cache/
/elpa/
/forge-database.sqlite
/history
/projectile-bookmarks.eld
/projectile.cache
/projects
/quelpa/
/recentf
/request/
/transient/
/lisp/init-local.el
/straight/
/tramp
/ido.last
/smex-items
/eshell/
/.lsp-session-v1
/.cache/
